.productform {
   
  
    width: 100%;
    
    
    background-color: #f5f5f5; 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.formcontainer {
   
   
    background-color: #ffffff; 
    width: 100%;
    display: flex;
    gap: 100px;
    justify-content: flex-start;
    align-items: flex-start;

    border-radius: 12px; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
    padding: 20px;
   
}

.formcontainer label {
    font-size: 18px; 
    color: #333; 
}

.formcontainer input,
.formcontainer select {
    height: 45px; 
    border: 1px solid #ddd;
    border-radius: 8px; 
    margin: 12px 0;
    padding: 0 15px;
    box-sizing: border-box; 
    font-size: 16px; 
}




.prices{
    display: flex;
    flex-direction: column;

   
}

.price-input{
    margin-bottom: -50px; /* Consistent spacing */
    
   
}


.size-input {
    margin-bottom: 12px; /* Consistent spacing */
}

.formcontainer select {
    padding: 12px; 
    border-color: #ddd; /* Light gray border */
    font-size: 16px; /* Consistent font size */
}

.imageinput {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the upload area */
    margin: 20px 0; /* Add margin to separate from other sections */
}

.upload-icon img {
    height: 150px; /* Larger size for better visibility */
    width: auto;
    margin: 20px 0;
    border-radius: 8px; /* Rounded corners for image */
    border: 2px dashed #0056b3; /* Blue dashed border around the upload icon */
}

.file-input {
    display: none; /* Hide the file input */
}

.submitbutton {
    display: flex;
    justify-content: center; /* Center align the button */
}

.submitbutton button {
    font-size: 18px; 
    padding: 14px 28px; /* Increased padding for better click area */
    height: 50px;
    border-radius: 8px; /* Rounded corners */
    background-color: #FFC1AB; /* Gold color for the button */
    color: #1A1A1A; /* Almost black text for better contrast */
    border: none;
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
}

.submitbutton button:hover {
    background-color: #fcb69d; /* Light pink on hover */
    transform: scale(1.05); /* Slightly scale up the button */
}
.third{
    display: flex;
    flex-direction: column;
    justify-content:'left';
    align-items: 'center';
}