.Footer {
    height: 20vh;
   
    background-color: #ffc1ab;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.footer-container {
    width: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.tags, .social {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.tags {
    font-size: 20px;
    gap: 50px;
    color: #804733;
    margin-bottom: 10px;
}

.social {
    font-size: 30px;
    color: #804733;
    gap: 30px;
}

.social li {
    cursor: pointer;
    transition: transform 0.3s, color 0.3s;
}

.social li:hover {
    transform: scale(1.2);
    color: #333; /* Adds a darker shade on hover for contrast */
}

.tags li {
    cursor: pointer;
    transition: color 0.3s;
}

.tags li:hover {
    color: #333; /* Adds a darker shade on hover for contrast */
}

@media(max-width: 1200px) {
    .tags {
        gap: 30px;
    }
}

@media(max-width: 650px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .tags {
        gap: 20px;
        font-size: 15px;
        margin-bottom: 20px;
    }

    .social {
        gap: 20px;
    }
}
